<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <div>
      <h1>Sign Up</h1>
      <form action="" method="post">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Name" required />
        <br /><br />
        <label for="phone">Phone Number</label>
        <input type="text" name="phone" placeholder="phone" required />
        <br /><br />
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <br /><br />
        <label for="cnfpass">Confirm Password</label>
        <input
          type="password"
          name="cnfpass"
          placeholder="Confirm Password"
          required
        />
        <br /><br />
        <label for="adress">Adress</label>
        <input type="text" name="adress" placeholder="Adress" required />
        <br /><br />
        <input type="submit" value="Signup" /><br /><br />
        Already have an account?
        <a href="http://127.0.0.1:8000/login/">Login</a>
      </form>
    </div>
  </body>
</html>
